<nz-card>
  <div class="user-info">
    <img class="card-img" src="{{user.photo || './assets/profileImg.jpg'}}" alt="" srcset="">
    <h3 class="user-name" nz-typography>{{user.name}} {{user.surname}}</h3>
  </div>

  <div class="buttons">
    <button
      [routerLink]="getEditUrl(user.id)"
      nz-button
      nzType="primary">Edit</button>
    <button
      nz-button
      nzType="primary"
      nzDanger="danger"
      (click)="userService.removeUser(user.id)"
      >Remove</button>
  </div>
</nz-card>