<form nz-form [nzLayout]="'vertical'" [formGroup]="userForm" (ngSubmit)="submitForm()">
  <nz-form-item ngClass="group">
    <nz-form-control nzErrorTip="The field is required">
      <nz-input-group nzPrefixIcon="user">
        <input nz-input placeholder="Name" formControlName="name"/>
      </nz-input-group>
    </nz-form-control>

    <nz-form-control nzErrorTip="The field is required">
        <nz-input-group nzPrefixIcon="user">
          <input nz-input placeholder="Surname" formControlName="surname"/>
        </nz-input-group>
      </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label>Gender</nz-form-label>

    <nz-form-control nzErrorTip="The field is required">
        <nz-radio-group formControlName="gender">
            <label nz-radio nzValue="MALE">Male</label>
            <label nz-radio nzValue="FEMALE">Female</label>
          </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item  ngClass="group">
    <nz-form-control nzErrorTip="The field is required">
      <nz-input-group nzPrefixIcon="phone">
        <input nz-input placeholder="Personal phone" formControlName="personalPhone"/>
      </nz-input-group>
    </nz-form-control>

    <nz-form-control nzErrorTip="The field is required">
        <nz-input-group nzPrefixIcon="phone">
          <input nz-input placeholder="Mobile phone" formControlName="mobilePhone"/>
        </nz-input-group>
      </nz-form-control>
  </nz-form-item>


  <nz-form-item ngClass="group">
    <nz-form-label>Legal address</nz-form-label>

    <nz-form-control nzErrorTip="The field is required">
      <nz-input-group nzPrefixIcon="home">
        <input nz-input placeholder="Country" formControlName="legalAddressCountry"/>
      </nz-input-group>
    </nz-form-control>

    <nz-form-control nzErrorTip="The field is required">
      <nz-input-group nzPrefixIcon="home">
        <input nz-input placeholder="City" formControlName="legalAddressCity"/>
      </nz-input-group>
    </nz-form-control>

    <nz-form-control nzErrorTip="The field is required">
      <nz-input-group nzPrefixIcon="home">
        <input nz-input placeholder="Address" formControlName="legalAddressAddress"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Photo</nz-form-label>

    <nz-form-control>
      <nz-input-group>
        <nz-upload
          class="avatar-uploader"
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzName="avatar"
          nzListType="picture-card"
          [nzShowUploadList]="false"
        >
          <ng-container>
            <i class="upload-icon" nz-icon [nzType]="'plus'"></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="user?.photo" style="width: 100%" src="{{user?.photo}}"/>
        </nz-upload>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button type="submit" nz-button nzType="primary">Save</button>
    </nz-form-control>
  </nz-form-item>
</form>
